* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: darkgray;
}

header {
    background-color: hsl(255, 44%, 42%);
    height: 100px;
    margin-bottom: 100px;
    margin: 100%;
}

main  {
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3em;
    font-family: monospace;
    background-color: red;
    width: 45%;
    height: max-content;
    color: whitesmoke;
    font-size: 2.5em;
    border: 7px solid brown;
    min-width: 300px;
}


 header h1 {
    padding-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: wheat;
    width: 100%;
}

 main h2 {
    padding: 50px;
}



footer h4 {
    background-color: steelblue;
    height: 2.5em;
    margin-top: 50em;
    padding-top: 0.8em;
    width: 100%;
    font-family: arial;
    font-weight: bold;
}

 main h4 {
    margin-bottom: 30px;
}

    
music-p {
    padding-top: 30px;
}

.second-section-main {
    padding-right: 13em;
}

img {
    height: 13em;
    width: 100%;
}

video {
    width: 100%;
}

.big-emoji {
    position: absolute;
    margin-left: 12em ;
    height: 7em;
    width: 7em;
    width:min-content;
}

audio {
    width: 100%;
}



