* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: darkgray;
}

header {
    background-color: hsl(255, 44%, 42%);
    height: 100px;
    margin-bottom: 100px;
}

main  {
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3em;
    font-family: monospace;
    background-color: red;
    width: 45%;
    height: 600px;
    color: whitesmoke;
    font-size: 2.5em;
    border: 7px solid brown;
   


}

 header h1 {
    padding-top: 40px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: wheat;
}

 main h2 {
    padding: 50px;
}

footer h3 {
    margin-top: 660px;
    padding-top: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}

footer h4 {
    background-color: steelblue;
    height: 2.5em;
    margin-top: 300px;
    padding-top: 0.8em;
}

 main h4 {
    margin-bottom: 30px;
}

.music {
    padding-right: 400px; 
    max-height: auto;
    
}

.music-p {
    padding-top: 30px;
}

.dir {
    display: flex;
}